@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar a sua conta.</a>
    </p>
    }
    else
    {
<p>
        Verifique a sua caixa de entrada do email.
</p>
    }
}
