@model TPV2.Models.ScoreGestor

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>ScoreGestor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScoreGestorId" />
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreClient" class="control-label"></label>
                <input asp-for="ScoreClient" class="form-control" />
                <span asp-validation-for="ScoreClient" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isRemoved" /> @Html.DisplayNameFor(model => model.isRemoved)
                </label>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>

