@model IEnumerable<TPV2.Models.ReserveStatus>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StatusId" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.StatusId" class="btn btn-secondary">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.StatusId" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
